<?php
/**
 * AweCMS
 *
 * LICENSE
 *
 * This source file is subject to the BSD license that is bundled
 * with this package in the file LICENSE.txt
 *
 * It is also available through the world-wide-web at this URL:
 * http://www.opensource.org/licenses/bsd-license.php
 *
 * @category   AweCMS
 * @package    AweCMS_Core
 * @copyright  Copyright (c) 2010 Rock Solid Web Design (http://rocksolidwebdesign.com)
 * @license    http://www.opensource.org/licenses/bsd-license.php BSD License
 */

// USER SETTINGS
$zfConfigArray['phpSettings']['time_zone']      = 'America/New_York';

$zfConfigArray['awe']['theme']['admin']         = 'default';
$zfConfigArray['awe']['theme']['frontend']      = 'default';

$zfConfigArray['awe']['doctrine']['cacheType'] = '\Doctrine\Common\Cache\ApcCache';

// SYSTEM SETTINGS
// bootstrap and autoloader
$zfConfigArray['autoloaderNamespaces'][] = "Awe";
$zfConfigArray['includePaths']['library'] = APPLICATION_PATH . "/library";
$zfConfigArray['bootstrap']['path']       = APPLICATION_PATH . "/modules/core/default/Bootstrap.php";

// zend resources and plugins
$zfConfigArray['resources']['layout'][]     =  '';
$zfConfigArray['resources']['frontController']['moduleDirectory'][]      =  APPLICATION_PATH . '/modules/core';
$zfConfigArray['resources']['frontController']['moduleDirectory'][]      =  APPLICATION_PATH . '/modules/other';
$zfConfigArray['resources']['frontController']['defaultModule']          =  'default';
$zfConfigArray['resources']['frontController']['defaultControllerName']  =  'index';
$zfConfigArray['resources']['frontController']['defaultAction']          =  'index';
$zfConfigArray['resources']['modules'][]    =  '';
$zfConfigArray['resources']['view'][]       =  '';
$zfConfigArray['resources']['doctrine'][]   =  '';
$zfConfigArray['resources']['router'][]     =  '';

$zfConfigArray['pluginPaths']['Awe_Resource'] = APPLICATION_PATH . "/resources";

// database connection
$dbLoginFile = APPLICATION_PATH . '/configs/database/'.APPLICATION_ENV.'.ini';
if (!file_exists($dbLoginFile)) {
    $dbLoginFile = APPLICATION_PATH . '/configs/database.ini';
    if (!file_exists($dbLoginFile)) {
        die("Could not find database login file: $dbLoginFile");
    }
}
$dbIni = parse_ini_file($dbLoginFile);

// uncomment this for production to avoid using parsing another ini file
//$dbIni['dbName'] = '';
//$dbIni['dbUser'] = '';
//$dbIni['dbPass'] = '';
//$dbIni['dbHost'] = '';

$zfConfigArray['resources']['db']['adapter']                          =  "pdo_mysql";
$zfConfigArray['resources']['db']['params']['dbname']                 =  $dbIni['dbName'];
$zfConfigArray['resources']['db']['params']['username']               =  $dbIni['dbUser'];
$zfConfigArray['resources']['db']['params']['password']               =  $dbIni['dbPass'];
$zfConfigArray['resources']['db']['params']['host']                   =  $dbIni['dbHost'];
$zfConfigArray['resources']['db']['params']['isDefaultTableAdapter']  =  true;

// MAMP Socket
if (file_exists('/Applications/MAMP/tmp/mysql/mysql.sock')) {
    $zfConfigArray['doctrine']['connection']['unix_socket'] = '/Applications/MAMP/tmp/mysql/mysql.sock';
    $zfConfigArray['db']['params']['unix_socket'] = '/Applications/MAMP/tmp/mysql/mysql.sock';
}
else {
    $zfConfigArray['doctrine']['connection']['host']  = $dbIni['dbHost'];
}

$zfConfigArray['doctrine']['connection']['driver']    = 'pdo_mysql';
$zfConfigArray['doctrine']['connection']['port']      = '3306';
$zfConfigArray['doctrine']['connection']['dbname']    = $dbIni['dbName'];
$zfConfigArray['doctrine']['connection']['user']      = $dbIni['dbUser'];
$zfConfigArray['doctrine']['connection']['password']  = $dbIni['dbPass'];

// doctrine specific configuration
//$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Core\Premium']  =  APPLICATION_PATH . "/modules/core/premium/doctrine";
//$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Core\Access']   =  APPLICATION_PATH . "/modules/core/access/doctrine";
//$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Core\Blog']     =  APPLICATION_PATH . "/modules/core/blog/doctrine";
//$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Core\Cms']      =  APPLICATION_PATH . "/modules/core/cms/doctrine";
$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Core']          =  APPLICATION_PATH . "/doctrine";
$zfConfigArray['doctrine']['settings']['entitiesPath']['Entities\Other']         =  APPLICATION_PATH . "/doctrine";
$zfConfigArray['doctrine']['settings']['proxiesPath']  = APPLICATION_PATH . "/doctrine";
$zfConfigArray['doctrine']['settings']['logPath']      = APPLICATION_PATH . "/doctrine/log";

$GLOBALS['gANNOTATION_KEYS']['annoKeyId']         = 'Doctrine\ORM\Mapping\Id';
$GLOBALS['gANNOTATION_KEYS']['annoKeyCol']        = 'Doctrine\ORM\Mapping\Column';
$GLOBALS['gANNOTATION_KEYS']['annoKey12m']        = 'Doctrine\ORM\Mapping\OneToMany';
$GLOBALS['gANNOTATION_KEYS']['annoKeyM2m']        = 'Doctrine\ORM\Mapping\ManyToMany';
$GLOBALS['gANNOTATION_KEYS']['annoKeyM21']        = 'Doctrine\ORM\Mapping\ManyToOne';
$GLOBALS['gANNOTATION_KEYS']['annoKeyJoinColumn'] = 'Doctrine\ORM\Mapping\JoinColumn';
$GLOBALS['gANNOTATION_KEYS']['annoKeyJoinTable']  = 'Doctrine\ORM\Mapping\JoinTable';
$GLOBALS['gANNOTATION_KEYS']['annoKeyAwe']        = 'Awe\Annotations\AutoFormElement';

// environment specific settings
switch (APPLICATION_ENV)
{
    case 'development':
    case 'testing':
        // standard system settings
        $zfConfigArray['phpSettings']['display_startup_errors'] = 1;
        $zfConfigArray['phpSettings']['display_errors'] = 1;
        $zfConfigArray['resources']['frontController']['params']['displayExceptions'] = 1;

        // database settings
        $zfConfigArray['doctrine']['settings']['cacheType'] = '\Doctrine\Common\Cache\ArrayCache';
        break;

    case 'staging':
    case 'production':
    default:
        // standard system settings
        $zfConfigArray['phpSettings']['display_startup_errors'] = 0;
        $zfConfigArray['phpSettings']['display_errors'] = 0;
        $zfConfigArray['resources']['frontController']['params']['displayExceptions'] = 0;

        // database settings
        $zfConfigArray['doctrine']['settings']['cacheType'] = $zfConfigArray['awe']['doctrine']['cacheType'];
        break;
}

